name: MSBuild

on:
  workflow_dispatch:
  push:
    branches:
      - "master"

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.3

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: |
        curl.exe -o pci.ids https://raw.githubusercontent.com/vcrhonek/hwdata/master/pci.ids
        curl.exe -o usb.ids http://www.linux-usb.org/usb.ids
        curl.exe -o pnp.ids https://raw.githubusercontent.com/vcrhonek/hwdata/master/pnp.ids
        Add-Content -Path "pnp.ids" -Value "# Version: $(Get-Date -Format 'yyyy.MM.dd')"
        msbuild /m /p:Configuration=Release /p:platform=x64 ${{env.SOLUTION_FILE_PATH}}
        msbuild /m /p:Configuration=Release /p:platform=x86 ${{env.SOLUTION_FILE_PATH}}
        md nwinfo
        move x64\Release\nwinfo.exe nwinfo\nwinfo_x64.exe
        move Win32\Release\nwinfo.exe nwinfo\nwinfo_x86.exe
        move x64\Release\gnwinfo.exe nwinfo\gnwinfo_x64.exe
        move Win32\Release\gnwinfo.exe nwinfo\gnwinfo_x86.exe
        copy LICENSE nwinfo\LICENSE
        copy pci.ids nwinfo\pci.ids
        copy usb.ids nwinfo\usb.ids
        copy pnp.ids nwinfo\pnp.ids
        copy jep106.ids nwinfo\jep106.ids
        # copy winring0\WinRing0.sys nwinfo\WinRing0.sys
        # copy winring0\WinRing0x64.sys nwinfo\WinRing0x64.sys
        copy winring0\HwRwDrv.sys nwinfo\HwRwDrv.sys
        copy winring0\HwRwDrvx64.sys nwinfo\HwRwDrvx64.sys
    - name: Run UPX
      uses: crazy-max/ghaction-upx@v2
      with:
        version: latest
        files: |
          .\nwinfo\nwinfo_x64.exe
          .\nwinfo\nwinfo_x86.exe
          .\nwinfo\gnwinfo_x64.exe
          .\nwinfo\gnwinfo_x86.exe
        args: --best

    - uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        filename: 'nwinfo.zip'
        directory: '.'
        path: 'nwinfo'

    - uses: marvinpinto/action-automatic-releases@v1.2.1
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: true
        automatic_release_tag: "latest"
        title: "Development Build"
        files: |
          nwinfo.zip
